<section class="mx-auto w-[60%] bg-gray-50 rounded border-1 shadow p-5 ">
  <h1 class="capitalize text-2xl text-green-600 font-bold pb-3 text-center">Forgot Password</h1>
  @if (step == 1) {
      <form [formGroup]="verifyEmail" (ngSubmit)="verfiyEmailSubmit()">

    <div class="mb-4">
      @let emailControl = verifyEmail.get('email');
      <label for="email" class="block mb-2 text-sm font-medium
       text-gray-900 dark:text-white">email:</label>
      <input
        formControlName="email"
        type="email"
        id="email"
        class="bg-white border
        border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500
        focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700
        dark:border-gray-600 dark:placeholder-gray-400 dark:text-white
        dark:focus:ring-blue-500 dark:focus:border-blue-500">
          @if(emailControl?.errors && emailControl?.touched) {
          <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
            <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
              <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
            </svg>
            <span class="sr-only">Danger</span>
            <div>
                <ul class="mt-1.5 list-disc list-inside">
                  @if(emailControl?.getError('required')) {
                    <li>email is required</li>
                  }
                  @else if(emailControl?.getError('email')) {
                    <li>Enter valid Email</li>
                  }
              </ul>
            </div>
          </div>
        }
    </div>

    <div>
        <button type="submit" [disabled]='isLoading' class="btn-main">Verify Email
        @if(isLoading) {
          <span> <i class="fas fa-spin fa-spinner"></i> </span>
        }
      </button>
    </div>
    @if(msgErr && !msgSuc) {
          <div class=" my-4 flex items-center p-4 mb-4 text-sm text-red-800 border border-red-300 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400 dark:border-red-800" role="alert">
      <svg class="shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
        <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
      </svg>
      <span class="sr-only">Info</span>
      <div>
        <span class="font-medium">{{msgErr}}</span>
      </div>
    </div>
    }
  </form>
  }

  @else if (step ==2) {
      <form [formGroup]="verifyCode" (ngSubmit)="verfiyCodeSubmit()">

    <div class="mb-4">
      <label for="code" class="block mb-2 text-sm font-medium
      text-gray-900 dark:text-white">Code:</label>
      <input
        formControlName="resetCode"
        type="text"
        id="code"
        class="bg-white border
        border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500
        focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700
        dark:border-gray-600 dark:placeholder-gray-400 dark:text-white
        dark:focus:ring-blue-500 dark:focus:border-blue-500">
    </div>
    <div>
        <button type="submit" [disabled]='isLoading' class="btn-main">Verify Code
        @if(isLoading) {
          <span> <i class="fas fa-spin fa-spinner"></i> </span>
        }
      </button>
    </div>
    @if(msgErr && !msgSuc) {
          <div class=" my-4 flex items-center p-4 mb-4 text-sm text-red-800 border border-red-300 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400 dark:border-red-800" role="alert">
      <svg class="shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
        <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
      </svg>
      <span class="sr-only">Info</span>
      <div>
        <span class="font-medium">{{msgErr}}</span>
      </div>
    </div>
    }
  </form>
  }

  @else {
        <form [formGroup]="resetPassowrd" (ngSubmit)="resetSubmit()">

    <div class="mb-4">
      @let emailControl2 = resetPassowrd.get('email');
      <label for="email" class="block mb-2 text-sm font-medium
    text-gray-900 dark:text-white">email:</label>
      <input
        formControlName="email"
        readonly
        type="email"
        id="email"
        class="bg-white border
        border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500
        focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700
        dark:border-gray-600 dark:placeholder-gray-400 dark:text-white
        dark:focus:ring-blue-500 dark:focus:border-blue-500">
          @if(emailControl2?.errors && emailControl2?.touched) {
          <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
            <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
              <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
            </svg>
            <span class="sr-only">Danger</span>
            <div>
                <ul class="mt-1.5 list-disc list-inside">
                  @if(emailControl2?.getError('required')) {
                    <li>email is required</li>
                  }
                  @else if(emailControl2?.getError('email')) {
                    <li>Enter valid Email</li>
                  }
              </ul>
            </div>
          </div>
        }
    </div>
    <div class="mb-4">
      @let newPassword = resetPassowrd.get('newPassword');
      <label for="email" class="block mb-2 text-sm font-medium
       text-gray-900 dark:text-white">New Password:</label>
      <input
        formControlName="newPassword"
        type="email"
        id="email"
        class="bg-white border
        border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500
        focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700
        dark:border-gray-600 dark:placeholder-gray-400 dark:text-white
        dark:focus:ring-blue-500 dark:focus:border-blue-500">
          @if(newPassword?.errors && newPassword?.touched) {
          <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
            <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
              <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
            </svg>
            <span class="sr-only">Danger</span>
            <div>
                <ul class="mt-1.5 list-disc list-inside">
                  @if(newPassword?.getError('required')) {
                    <li>password is required</li>
                  }
                  @else if(newPassword?.getError('pattern')) {
                    <li>Enter valid Password</li>
                  }
              </ul>
            </div>
          </div>
        }
    </div>

    <div>
        <button type="submit" [disabled]='isLoading' class="btn-main">Reset Password
        @if(isLoading) {
          <span> <i class="fas fa-spin fa-spinner"></i> </span>
        }
      </button>
    </div>
    @if(msgErr && !msgSuc) {
          <div class=" my-4 flex items-center p-4 mb-4 text-sm text-red-800 border border-red-300 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400 dark:border-red-800" role="alert">
      <svg class="shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
        <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
      </svg>
      <span class="sr-only">Info</span>
      <div>
        <span class="font-medium">{{msgErr}}</span>
      </div>
    </div>
    }
  </form>
  }

</section>
